{% extends 'navbar.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div style="height: 90vh" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container outline-dark p-4 mb-5 bg-body d-flex flex-column rounded"
             style="max-width: 90%; height: 100%">
            <h1>PERMISSION DENIED</h1>
            <button type="button" onclick="history.back()" class="btn btn-primary mt-5">Go Back</button>
        </div>

    </div>

{% endblock %}